body {
  background-image: url(http://i69.photobucket.com/albums/i43/Kakatary/gryffindorhousepoints.jpg);
  background-repeat: no-repeat;
  background-position:bottom;
  background-size: 30%;

  margin: 0;
}

background-image {
  opacity: .30;
}

h1{
  float:right;
  margin-right: 30%;
}
img {
  max-width: 250px;
}

nav li a {
  font-size: 24px;
}

ul {
  display: flex;
  justify-content: center;
}
li {
  /*float: left;*/
  display:inline-flex;
  margin: 20px;
  padding:20px;
}

p {
  font-size: 30px;
  /*float:inherit;*/
}

h1 {
  font-size: 40px;
}

h3 {
  font-size: 40px;
}


.gryffindor {
  background-color: #993333;
  color: white;
  display;block;
  padding-bottom: 20px;
  overflow: auto;
}

.gryffindorImg {
  float:left;

}

.slytherin {
  background-color: #006633;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  overflow: auto;

}

.slytherinImg{
  float:left;
}

.ravenclaw {
  background-color: #333366;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  overflow: auto;
}

.ravenclawImg {
  float: left;
  padding-left: 10px;
}

.hufflepuff {
  background-color: #ffcc33;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow:auto;
}

.hufflepuffImg {
  float: left;
}

.sortingProcess {
  padding-top: 30px;

}
